{% extends 'base.html.twig' %}

{% block title %}Nouveau contrat{% endblock %}

{% block body %}
    <div>
        <h1>Ajouter un nouveau contrat</h1>

        {{ include('contract/_form.html.twig') }}
    </div>

    <a href="{{ path('contract') }}">Retour à la liste</a>
{% endblock %}
